.hero-background {
  position: absolute;
  width: 60rem;
  height: 60rem;
  top: 0;
  right: 0;
  top: -15rem;
  z-index: -1;

  background: #0189D8;
  opacity: 0.05;
  border-radius: 200px;
  transform: rotate(30deg);
}

.hero-container {
  margin: 8rem auto;
  padding: 1rem 2rem;
  overflow: hidden;
  /* position: relative; */
}

.hero-text {
  /* max-width: 25%; */
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: #313131;
  word-spacing: 100vw;
}

.hero-text span {
  background: rgba(46, 204, 113, 0.1);
  border: 4px dashed #2ECC71;
}

.sub-text {
  margin: 2rem 0;
  font-size: 1.15rem;
  line-height: 30px;
  color: #313131;
  opacity: 0.5;
  max-width: 80%;
}

.contact-link {
  margin: 3.5rem 0;
}

.contact-link a {
  background: #2ECC71;
  border-radius: 46px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  /* box-shadow: 0px 20px 50px -15px #2ECC71; */
}


.corners {
  position: relative;
  display: inline-block;
  /* padding: 10px 20px; */
  padding: 0.2rem 0.2rem;
  background: rgba(46, 204, 113, 0.1);
  /* border: 5px dashed #2ECC71; */
  border: 3px dashed #2ECC71;
  /* left: -25px; */
  left: -8px;
}

.top,
.bottom {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.top {
  top: -6px;
  border-top: 5px solid;
}

.bottom {
  bottom: -6px;
  border-bottom: 5px solid;
}

.left {
  left: -6px;
  width: 0px;
  height: 0px;
  border: 5px solid #2ECC71;
  border-radius: 100%;
}

.right {
  right: -6px;
  width: 0px;
  height: 0px;
  border: 5px solid #2ECC71;
  border-radius: 100%;
}




@media (min-width: 850px) {
  .hero-background {
    position: absolute;
    /* top: -9rem;
right: -15rem;
height: 70rem;
width: 70rem; */

    top: -3rem;
    right: -12rem;
    height: 100%;
    width: 60%;
  }

  .hero-container {
    /* margin: 10rem auto; */
    /* padding: 1rem 7rem; */
    padding: 10rem;
    margin: 0;
    height: 100vh;
    background: url("../../images/icons/rectangle.svg") right 28% no-repeat, url("../../images/icons/hero-bg.svg") right 28% no-repeat;
    background-position: 100% 25%, right 32%;
    background-size: 55%, 43%;
  }

  .hero-text {
    font-size: 5rem;
    padding-top: 5rem;
  }

  .sub-text {
    font-size: 1.8rem;
    line-height: 42px;
    max-width: 40%;
  }

  .contact-link a {
    font-size: 1.4rem;
    padding: 1.3rem 3.8rem;
  }


  .corners {
    /* padding: 10px 20px; */
    border: 5px dashed #2ECC71;
    left: -12px;
  }

  .top {
    top: -10px;
    border-top: 8px solid;
  }

  .bottom {
    bottom: -10px;
    border-bottom: 8px solid;
  }

  .left {
    left: -10px;
    border: 8px solid #2ECC71;
  }

  .right {
    right: -10px;
    border: 8px solid #2ECC71;
  }

}