.hero-background {
  position: relative;
  /* position: absolute;
  width: 60rem;
  height: 60rem;
  top: 0;
  right: 0;
  top: -15rem;
  z-index: -1; */

}

.hero-image {
  width: 80%;
}

.rectangle {
  position: absolute;
  width: 160%;
  height: 275%;
  right: -30rem;
  top: -17rem;

  background: #0189D8;
  opacity: 0.05;
  border-radius: 144px;
  transform: rotate(30deg);
}

.hero-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 0 8rem 0;
  overflow: hidden;
  background-color: var(--background);
  /* position: relative; */

  display: flex;
  align-items: center;
  /* align-content: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* flex-wrap: nowrap; */

}

.hero-text {
  max-width: 80%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: #313131;
  /* word-spacing: 100vw; */
}

.hero-text span {
  background: rgba(46, 204, 113, 0.1);
  border: 4px dashed #2ECC71;
}

.sub-text {
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 30px;
  color: #555;
  max-width: 80%;
}

.contact-link {
  /* margin: 3.5rem 0; */
}

.contact-link a {
  background: #2ECC71;
  border-radius: 46px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  /* box-shadow: 0px 20px 50px -15px #2ECC71; */
}


.corners {
  position: relative;
  display: inline-block;
  /* padding: 10px 20px; */
  padding: 0.2rem 0.2rem;
  background: rgba(46, 204, 113, 0.1);
  /* border: 5px dashed #2ECC71; */
  border: 3px dashed #2ECC71;
  /* left: -25px; */
  left: -8px;
}

.corners::before {
  content: "";
  position: absolute;
  /* border: 10px dashed #2ECC71; */
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}

.top,
.bottom {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.top {
  top: -6px;
  border-top: 5px solid;
}

.bottom {
  bottom: -6px;
  border-bottom: 5px solid;
}

.left {
  left: -6px;
  width: 0px;
  height: 0px;
  border: 5px solid #2ECC71;
  border-radius: 100%;
}

.right {
  right: -6px;
  width: 0px;
  height: 0px;
  border: 5px solid #2ECC71;
  border-radius: 100%;
}




@media (min-width: 850px) {
  .hero-background {

    height: 100%;
    width: 60%;
  }

  .hero-container {}

  .hero-text {
    font-size: 5rem;
    padding: 5rem 0 0 12rem;
  }

  .sub-text {
    font-size: 1.8rem;
    line-height: 42px;
    /* max-width: 40%; */
  }

  .contact-link a {
    font-size: 1.4rem;
    padding: 1.3rem 3.8rem;
  }


  .corners {
    /* padding: 10px 20px; */
    border: 5px dashed #2ECC71;
    left: -12px;
  }

  .top {
    top: -10px;
    border-top: 8px solid;
  }

  .bottom {
    bottom: -10px;
    border-bottom: 8px solid;
  }

  .left {
    left: -10px;
    border: 8px solid #2ECC71;
  }

  .right {
    right: -10px;
    border: 8px solid #2ECC71;
  }

}