header {
  width: 100%;
  /* height: 7rem; */
}

nav {
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1.25rem 8rem;
  background-color: var(--white);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 4rem;
}


nav a {
  color: var(--gray);
  text-decoration: none;
  display: block;
  font-size: 1.25rem;
}

.logo-image {
  max-width: 15rem;
}

.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
}

.logo {
  text-align: center;
  flex-basis: auto;
  text-align: left;
  margin-right: auto;
}

.menu-button {
  display: none;
  /* hide the menu button on larger screens */
}

.bar1,
.bar2,
.bar3 {
  width: 1.7rem;
  height: 0.2rem;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change-menu .bar1 {
  transform: translate(0, 0.7rem) rotate(-45deg);
}

.change-menu .bar2 {
  opacity: 0;
}

.change-menu .bar3 {
  transform: translate(0, -0.45rem) rotate(45deg);
}

.contact-us-button .nav-link-text {
  border-radius: 46px;
  color: var(--green);
}

@media (max-width: 1024px) {
  .menubar {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;

  }



  .menubar ul {
    /* hide the menubar links on small screens */
    height: 0;
    width: 0;
    overflow: hidden;
    gap: 3rem;
    position: relative;
    transition: height 0s ease, width 0.3s ease;

  }

  .menu-button {
    display: flex;
    flex-direction: row-reverse;

    position: fixed;
    right: 1rem;
    /* padding: 5px; */
    /* background-color: red; */
  }

  .menubar ul.open {
    flex-direction: column;
    /* height: auto; */
    /* padding: 6rem 0 0 0; */
    height: 100vH;
    width: 100%;
  }

  .menubar ul.open .contact-us-button {
    background: var(--background);
    width: 100%;
    color: var(--green);
    padding: 1.5rem 0rem;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
}


@media (min-width: 850px) {}





/* Old navbar */
/* .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  margin-right: auto;
  font-size: 1.5em;
}

.logo-image {
  width: 15rem;
}

.header .nav-link-item {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.header .nav-link-text {
  text-decoration: none;
  padding: 0.7rem 1.3rem;
  color: #555;
  transition: all 0.3s ease 0s;
  font-style: normal;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 30px;
}

.nav-link-text:hover {
  color: #b2dfdb;
}


.contact-us-button .nav-link-text {
  background: #2ECC71;
  border-radius: 46px;
  color: #fff;
} */

.nav-link-text:hover {
  /* color: #b2dfdb; */
}