:root {
  --black: #171321;
  --dkblue: #0d314b;
  --gray: #555;
  --dark-gray: #313131;
  --dark-gray2: #333333;
  --white: #fff;
  --green: #2ECC71;
  --font-size: 1.2rem;
  --background: #f5f5f5;
  /* --mono: "Oxygen mono", monospace; */
  --sans: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--white);
  color: var(--black);
  font-size: var(--font-size);
  min-height: 100%;
  /* display: flex; */

  /* animation: fadeInAnimation ease 2s; */
  /* animation: slideUp .8s ease forwards .5s; */
  /* animation-iteration-count: 1; */
  /* animation-fill-mode: forwards; */
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--gray);
}

a:hover {
  color: var(--black);
  text-decoration: none;
}

main {
  min-height: 75vh;
}

.container {
  padding-top: 2rem;
  /* border: 1px solid red; */
}