.description-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--background);


  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 6rem 0; */
  gap: 3rem;

  justify-content: center;
  min-height: 10vh;

  padding: 8rem 8rem 20rem;
  gap: 4rem;

}

.description-heading {
  font-size: 2rem;
  text-align: center;
  line-height: 120%;
}

.description {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 6rem;
  padding: 2rem 0;
}

.description:nth-child(2n) {
  flex-direction: row;
}

.description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 40px;
  gap: 2rem;

  width: 50%;
}

.heading {
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  /* or 38px */

  text-align: center;

  color: var(--darkgray);
}

.description-text .text {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 200%;
  color: var(--dark-gray2);
}

.green-text {
  color: var(--green)
}

.description-image {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.description-image img {
  width: 150%;
}

@media (max-width: 640px) {

  .description {
    flex-direction: column;
    padding: 0;
  }

  .description:nth-child(2n) {
    flex-direction: column;
  }


  .description-container {
    padding: 4rem 1rem 15rem;
  }

  .description-heading,
  .heading {
    font-size: 1.5rem;
  }

  .description-text {
    width: 100%;
    padding: 0 1rem;
  }

  .description-text .text {
    font-size: 1rem;
  }

  .description-image img {
    width: 100%;
  }

  .description-image {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .description-container {
    padding: 8rem 1rem 20rem;
  }

  .description {
    padding: 0;
  }

  .description-image img {
    width: 100%;
  }}